{% extends 'dash-base.html' %} 
{% block title %}Admin Dashboard | Trekkiz{% endblock %} 
{% block brand_name %}
  <a class="navbar-brand fw-bold fs-3 text-success align-items-center" 
  href="{{ url_for('admin_dash') }}">Trekkiz</a>
{% endblock %}
{% block search_bar %}
<form action="{{ url_for('admin_dash') }}" method="GET" class="d-flex align-items-center gap-2" role="search">
  <input class="form-control" type="search" placeholder="Search Treks, Staff Members or Trekkers ..." 
  name="query" style="width: 350px;" value="{{ request.args.get('query', '') }}"/>
  <button class="btn btn-success" type="submit">Search</button>
</form>
{% endblock %} 
{% block content %}
{% if query %}

  <!-- div tag for Search Results-->
  <div class="mb-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="fw-bold text-dark mb-0">
        Search Results for "<span class="text-success">{{ query }}</span>"
      </h4>
      <a href="{{ url_for('admin_dash') }}" class="btn btn-sm btn-outline-secondary">
        Clear Search
      </a>
    </div>

    <!-- If No Results Found -->
    {% if not treks_found and not users_found %}
      <div class="card p-4 text-center border-0 shadow-sm bg-white rounded-3">
        <p class="text-muted mb-0">No matching treks or users found.</p>
      </div>
    {% endif %}

    <!-- Matching Treks Table -->
    {% if treks_found %}
      <div class="card border-0 shadow-sm rounded-3 mb-3">
        <div class="card-header bg-white py-3 border-0">
          <h5 class="fw-bold mb-0 text-dark">Treks ({{ treks_found | length }})</h5>
        </div>
        <div class="table-responsive">
          <table class="table align-middle text-center mb-0">
            <thead class="table-light">
              <tr>
                <th>Trek Title</th>
                <th>Difficulty</th>
                <th>Trek Dates</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for trek in treks_found %}
                <tr>
                  <td>
                    <div class="fw-semibold text-dark">{{ trek.name }}</div>
                    <small class="text-muted ">
                      <span>📍</span> {{ trek.location }}
                    </small>
                  </td>
                  <td>
                    <div class="badge {% if trek.difficulty == 'Hard' %} bg-danger 
                    {% elif trek.difficulty == 'Medium' %} bg-warning {% else %} bg-success {% endif %}">
                      {{ trek.difficulty }}
                    </div>
                  </td>
                  <td>
                    <div>
                      {{ trek.start_date.strftime('%B %d, %Y') }} - {{ trek.end_date.strftime('%B %d, %Y') }}
                    </div>
                  </td>
                  <td>
                    <div class="badge {% if trek.status == 'Open' %} bg-success
                    {% elif trek.status == 'Started' %} bg-primary {% elif trek.status == 'Closed' %}
                    bg-warning {% else %} bg-danger {% endif %}">
                      {{ trek.status }}
                    </div>
                  </td>
                  <td>
                    <form action="#"
                      method="POST" class="d-inline-block">
                      <input type="hidden" name="trek_id" value="{{ trek.trek_id }}"/>
                      <button type="submit" name="action" value="edit_trek" class="btn btn-sm btn-outline-primary">
                        Edit
                      </button>
                    </form>
                    <form action="#"
                      method="POST" class="d-inline-block">
                      <input type="hidden" name="trek_id" value="{{ trek.trek_id }}"/>
                      <button type="submit" name="action" value="delete_trek" class="btn btn-sm btn-outline-danger">
                        Delete
                      </button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}

    <!-- Matching Staff Table -->
    {% if users_found %}
      <div class="card border-0 shadow-sm rounded-3 mb-3">
        <div class="card-header bg-white py-3 border-0">
          <h5 class="fw-bold mb-0 text-dark">Users found ({{ users_found | length }})</h5>
        </div>
        <div class="table-responsive">
          <table class="table align-middle text-center mb-0">
            <thead class="table-light">
              <tr>
                <th>User-Name</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users_found %}
                <tr>
                  <td>{{ user.user_name }}</td>
                  <td>{{ user.f_name }} {{ user.l_name }}</td>
                  <td>{{ user.phone_number }}</td>
                  <td>{{ user.role }}</td>
                  <td>
                    {% if user.status == 'Pending' %}
                    <form action="{{ url_for('approve_staff', staff_id = user.user_id) }}"
                      method="POST" class="d-inline-block">
                      <input type="hidden" name="staff_id" value="{{ user.user_id }}"/>
                      <button type="submit" name="action" value="approve_staff" class="btn btn-sm btn-outline-success">
                        Approve
                      </button>
                    </form>
                    {% endif %}
                    {% if not user.isBlackListed %}
                      <form action="{{ url_for('blacklist', user_id = user.user_id) }}"
                        method="POST", class="d-inline-block">
                        <input type="hidden" name="user_id" value="{{ user.user_id }}">
                        <button type="submit" name="action" value="blacklist" class="btn btn-sm btn-outline-danger">
                          Blacklist
                        </button>
                      </form>
                    {% else %}
                      <form action="{{ url_for('unblacklist', user_id = user.user_id) }}" 
                        method="POST" class="d-inline-block">
                        <input type="hidden" name="user_id" value="{{ user.user_id }}">
                        <button type="submit" name="action" value="Un-Blacklist" class="btn btn-sm btn-outline-info">
                          Un-Blacklist
                        </button>
                      </form>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
<h3 style="font-weight: 700; color: #0f5a37" class="mb-3">
  Welcome, {{ user.f_name }}
</h3>
<div class="row g-4 mb-4">
  <div class="col-md-3">
    <div class="card stats-card bg-white text-center p-4">
      <h6 style="font-weight: 700">
        <i class="bi bi-geo-alt-fill"></i>  Total Treks</h6>
      <h2>{{ all_treks | length }}</h2>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card stats-card bg-white text-center p-4">
      <h6 style="font-weight: 700"><i class="bi bi-people-fill"></i>  Trek Guides</h6>
      <h2>{{ guides | length }}</h2>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card stats-card bg-white text-center p-4">
      <h6 style="font-weight: 700"><i class="bi bi-person-fill"></i>  Registered Trekkers</h6>
      <h2>{{ trekkers | length }}</h2>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card stats-card bg-white text-center p-4">
      <h6 style="font-weight: 700"><i class="bi bi-calendar-event"></i>  Total Bookings</h6>
      <h2>{{ bookings | length }}</h2>
    </div>
  </div>
</div>
<div class="row g-4">
  <div class="col-12 col-xl-6 p-3">
    <div class="card border-0 shadow-sm h-100">
      <div class="card-header bg-white py-3 border-0 d-flex justify-content-between 
        align-items-center">
        <h5 class="card-title fw-bold mb-0" style="color: #157649;">
          Pending Staff Approvals
        </h5>
        <span class="badge text-bg-light fs-6 rounded-pill fw-semibold px-3 py-2">
          {{ requests }} Requests
        </span>
      </div>
      <div class="card-body p-0">
        {% if pending_staff %}
        
        <table class="table table-hover" style="text-align: center;">
          <thead class="table-light border-top-0">
            <tr>
              <th>Staff Details</th>
              <th>Contact</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for staff in pending_staff %}
            <tr>
              <td>
                <div class="fw-semibold text-dark">
                  {{ staff.f_name }} {{ staff.l_name }}
                </div>
              </td>
              <td>
                <small class="font-monospace text-secondary">
                  {{ staff.phone_number }}</small>
              </td>
              <td class="text-end pe-3">
                <form action="{{ url_for('approve_staff', staff_id = staff.user_id) }}"
                  method="POST" class="d-inline-block">
                  <input type="hidden" name="staff_id" value="{{ staff.user_id }}"/>
                  <button type="submit" name="action" value="approve_staff"
                    class="btn btn-sm btn-success px-2 py-1 me-1">
                    Approve
                  </button>
                </form>
                <form action="{{ url_for('reject_staff', staff_id = staff.user_id) }}"
                  method="POST" class="d-inline-block">
                  <input type="hidden" name="staff_id" value="{{ staff.user_id }}"/>
                  <button type="submit" name="action" value="reject_staff"
                    class="btn btn-sm btn-danger px-2 py-1">
                    Reject
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="text-center py-5">
          <p class="text-muted mb-0">
            All clear! No pending registration requests at this time.
          </p>
        </div>
        {% endif %}
      </div>
      <div class="card-footer bg-white text-end">
        <h6><a href="{{ url_for('guides') }}" class="trek-link">View All Staff →</a></h6>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-6 p-3">
    <div class="card border-0 shadow-sm h-100">
      <div class="card-header bg-white py-3 border-0 d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0 fw-bold" style="color: #157649;">Active Trek Catalogue</h5>
        <a href="{{ url_for('newTrek') }}" role="button">
          <button class="btn btn-medium btn-outline-success">
            <i class="bi bi-plus-circle me-2"></i>Add New Treks</button>
        </a>
      </div>
      <div class="card-body p-0">
        {% if treks %}
        <table class="table table-hover align-middle mb-0" style = 'text-align: center;'>
          <thead class="table-light border-top-0">
            <tr>
              <th>Trek Title</th>
              <th>Difficulty</th>
              <th>Slots Available</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for trek in treks %}
              <tr>
                <td>
                  <div class="fw-semibold text-dark">{{ trek.name }}</div>
                </td>
                <td>
                  <span class="badge {% if trek.difficulty == 'Easy' %}bg-info 
                  {% elif trek.difficulty == 'Medium' %}bg-warning {% else %}bg-danger
                  {% endif %}">
                    {{ trek.difficulty }}
                  </span>
                </td>
                <td><span class="fw-bold">{{ trek.available_slots or 'N/A' }}</span> left</td>
                <td>
                  <span class="badge {% if trek.status == 'Open' %} bg-success 
                  {% elif trek.status == 'Closed' %} bg-warning
                  {% elif trek.status == 'Started' %} bg-primary {% else %}bg-danger
                  {% endif %}">
                    {{ trek.status  }}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="text-center py-5">
            <p class="text-muted mb-0">No treks have been added yet.</p>
        </div>
        {% endif %}                  
      </div>
      <div class="card-footer bg-white text-end">
          <h6><a href="{{ url_for('treks') }}" class="trek-link">View All Treks →</a></h6>
      </div>        
    </div>
  </div>
</div>
{% endblock %}
