<!doctype html>
<html lang="en">
  <head>
    {% include 'head.html' %}
    <title>{% block title %}{% endblock %}</title>
    <style>
      td{
        font-weight: 600;
      }
    </style>
  </head>
  <body style="background-color: rgba(228, 251, 234, 0.686)">
    <div class="d-flex min-vh-100 overflow-hidden overflow-y-auto">
      {% include 'sidebar.html' %}
      <div class="flex-grow-1 d-flex flex-column w-100">
        <header class="bg-white border-bottom px-4 py-3 w-100">
          <div class="d-flex justify-content-between align-items-center w-100">
            {% block brand_name %} {% endblock %}
            {% block search_bar %}
            {% endblock %}
            <div class="d-flex align-items-center gap-1">
              <span class="bg-success text-white rounded-circle d-flex align-items-center justify-content-center"
                style="width: 30px; height: 30px; font-size: 0.8rem; font-weight: 600;">
                {{ user.f_name[0].upper() }}
              </span>
              <span style="font-weight: bold;">{{ user.f_name }}</span>
            </div>
          </div>
        </header>
        <main class="p-4 flex-grow-1">
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>
  </body>
</html>
